body{
background:#0e0e0e;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
padding:60px;
}

.container{
width:900px;
background:#181818;
padding:40px;
border-radius:20px;
}

h1{
color:#ff7a00;
}

button{
background:#ff7a00;
border:none;
padding:15px 30px;
color:white;
border-radius:10px;
cursor:pointer;
margin-top:20px;
}

input,textarea{
width:100%;
margin-top:15px;
padding:12px;
border-radius:10px;
background:#252525;
color:white;
border:none;
}
